.trigger {
  margin-left: 16px;
  & svg {
    fill: #000;
    width: 20px;
    height: 20px;
  }
}

.logo {
  text-align: center;
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    color: #fff;
    margin-bottom: 0;
  }
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-menu-item:first-child {
  margin-top: 0;
}

.sidebar {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logout {
    margin-right: 16px;
  }
}
