.trigger {
  margin-left: 16px;
  & svg {
    fill: #000;
    width: 20px;
    height: 20px;
  }
}

.logo {
  text-align: center;
  h2 {
    color: #fff;
  }
}

.site-layout .site-layout-background {
  background: #fff;
}

.sidebar {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logout {
    margin-right: 16px;
  }
}